.loadingPage{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

background:
radial-gradient(
circle at top,
#2563EB,
#020617 75%
);

color:white;

text-align:center;

}



.loadingCard{

width:450px;

padding:45px;

background:rgba(15,23,42,.85);

border-radius:35px;

backdrop-filter:blur(15px);

box-shadow:
0 0 50px rgba(96,165,250,.25);

animation:appear .8s ease;

}



.loadingLogo{

width:120px;

animation:pulse 2s infinite;

}



.loadingCard h1{

font-family:'Nunito',sans-serif;

font-size:32px;

margin-top:25px;

}



.loadingCard p{

color:#CBD5E1;

font-size:17px;

line-height:1.5;

}



.loadingBar{

width:100%;

height:12px;

background:#1E293B;

border-radius:20px;

overflow:hidden;

margin:35px 0;

}



.loadingProgress{

height:100%;

width:100%;

background:#60A5FA;

animation:loading 4s ease;

}



.steps{

display:flex;

flex-direction:column;

gap:15px;

color:#CBD5E1;

}



@keyframes loading{

from{

width:0%;

}

to{

width:100%;

}

}



@keyframes pulse{

50%{

transform:scale(1.08);

}

}



@keyframes appear{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}