@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

.splash {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    radial-gradient(
      circle at top,
      #1d4ed8,
      #020617 65%
    );
}


.logoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logoImage {
  width: 250px !important;
  height: 250px !important;
  object-fit: contain;
}

h1 {

  margin-top: 25px;

  font-size: 48px;

  letter-spacing: 10px;

}


p {

  font-family: 'Nunito', sans-serif;

  margin-top:20px;

  color:#CBD5E1;

  font-size:18px;

  font-weight:600;

  letter-spacing:0.3px;

}